<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.david.noted">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".StarterApplication"
        android:allowBackup="false"
        android:icon="@mipmap/note"
        android:label="note"
        android:roundIcon="@mipmap/note"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="note"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NoteEditorActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyACETsWYLN4no4HlnCjv5rfRbPDdr0EjJk" />

        <service
            android:name=".CheckConditionService"
            android:exported="false" />

        <activity android:name=".SnoozeReminderActivity" />
        <activity android:name=".SearchReminderActivity" />
        <activity android:name=".SearchPlaceActivity" />
        <activity android:name=".SearchTimeActivity" />
        <activity android:name=".SearchLocationActivity" />
        <activity android:name=".WebViewGoogleMapActivity" />
        <activity
            android:name=".LogInActivity"
            android:noHistory="true" />
        <activity android:name=".FriendsListActivity" />
        <activity android:name=".AddFriendsActivity" />
        <activity
            android:name=".ChatActivity"
            android:noHistory="true" />
        <activity android:name=".SearchTagActivity"></activity>
    </application>

</manifest>